---
http_interactions:
- request:
    method: get
    uri: https://api.clover.com/v3/merchants/CQWH7CZZVQ072/employees/1D5AGFDBF88G2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 49ec922b-9d00-aef1-270c-b94ec130f795
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"href": "https://www.clover.com/v3/merchants/CQWH7CZZVQ072/employees/1D5AGFDBF88G2",
        "id": "1D5AGFDBF88G2", "name": "Renee", "nickname": "Renee M.", "email": "renee@tanda.co",
        "inviteSent": false, "claimedTime": 1498613338000, "pin": "9571", "role":
        "EMPLOYEE", "orders": {"href": "https://www.clover.com/v3/merchants/CQWH7CZZVQ072/employees/1D5AGFDBF88G2/orders"}}'
  recorded_at: Wed, 26 Jul 2017 01:30:25 GMT
recorded_with: VCR 3.0.3
