---
http_interactions:
- request:
    method: get
    uri: https://apisandbox.dev.clover.com/v3/merchants/KT5N01408MB24/orders?filter=createdTime%3C=1497488400000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ba54b5a8-cccc-3de3-cf5f-13b93b6a215a
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - employee.id, note, modifiedTime, orderType, cardTransaction.last4, manualTransaction,
        employee.name, title, device.id, clientCreatedTime, total, payType, customer.id,
        testMode, createdTime, id, state, deletedTime
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"elements": [ {"href": "https://sandbox.dev.clover.com/v3/merchants/KT5N01408MB24/orders/B2Y78S8KA0Z56",
        "id": "B2Y78S8KA0Z56", "currency": "USD", "employee": {"id": "5W3Q4B3T88VAR"},
        "taxRemoved": false, "isVat": false, "state": "open", "manualTransaction":
        false, "groupLineItems": true, "testMode": false, "createdTime": 1497485039000,
        "clientCreatedTime": 1497485039000, "modifiedTime": 1497485039000}, {"href":
        "https://sandbox.dev.clover.com/v3/merchants/KT5N01408MB24/orders/TV0GG2NG45KEM",
        "id": "TV0GG2NG45KEM", "currency": "USD", "employee": {"id": "5W3Q4B3T88VAR"},
        "taxRemoved": false, "isVat": false, "state": "open", "manualTransaction":
        false, "groupLineItems": true, "testMode": false, "createdTime": 1497485039000,
        "clientCreatedTime": 1497485039000, "modifiedTime": 1497485038000}, {"href":
        "https://sandbox.dev.clover.com/v[...]
