---
http_interactions:
- request:
    method: get
    uri: https://apisandbox.dev.clover.com/v3/merchants/KT5N01408MB24/orders?filter=state=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ba54b5a8-cccc-3de3-cf5f-13b93b6a215a
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - employee.id, note, modifiedTime, orderType, cardTransaction.last4, manualTransaction,
        employee.name, title, device.id, clientCreatedTime, total, payType, customer.id,
        testMode, createdTime, id, state, deletedTime
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"elements": [ {"href": "https://sandbox.dev.clover.com/v3/merchants/KT5N01408MB24/orders/T4ZE6TXY1XS3R",
        "id": "T4ZE6TXY1XS3R", "currency": "USD", "taxRemoved": false, "isVat": false,
        "state": "PAID", "manualTransaction": false, "groupLineItems": true, "testMode":
        false, "createdTime": 1499836550000, "clientCreatedTime": 1499836550000, "modifiedTime":
        1499836549000}, {"href": "https://sandbox.dev.clover.com/v3/merchants/KT5N01408MB24/orders/HQJWPBY4BTPDT",
        "id": "HQJWPBY4BTPDT", "currency": "USD", "taxRemoved": false, "isVat": false,
        "state": "PAID", "manualTransaction": false, "groupLineItems": true, "testMode":
        false, "createdTime": 1499836534000, "clientCreatedTime": 1499836534000, "modifiedTime":
        1499836610000}, {"href": "https://sandbox.dev.clover.com/v3/merchants/KT5N01408MB24/orders/9J4MPVPGX6XZM",
        "id": "9J4MPVPGX6XZM", "currency": "USD", "employee": {"id": "5W3Q4B3T88VAR"},
        "taxRemoved": false, "isVat": false, "state": "PAID", "manualTransaction":
        false, "groupLineItems": true, "testMode": false, "createdTime": 1499661458000,
        "clientCreatedTime": 1499661458000, "modifiedTime": 1499836588000}, {"href":
        "https://sandbox.dev.clover.com/v3/merchants/KT5N01408MB24/orders/NF839WP5F962G",
        "id": "NF839WP5F962G", "currency": "USD", "employee": {"id": "5W3Q4B3T88VAR"},
        "taxRemoved": false, "isVat": fal[...]
- request:
    method: get
    uri: https://api.clover.com/v3/merchants/CQWH7CZZVQ072/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 49ec922b-9d00-aef1-270c-b94ec130f795
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - employee.id, note, modifiedTime, orderType, cardTransaction.last4, manualTransaction,
        employee.name, title, device.id, clientCreatedTime, total,[...]
