---
http_interactions:
- request:
    method: get
    uri: https://api.clover.com/v3/merchantsCQWH7CZZVQ072/properties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 49ec922b-9d00-aef1-270c-b94ec130f795
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: 404 Not Found
  recorded_at: Thu, 27 Jul 2017 07:42:12 GMT
- request:
    method: get
    uri: https://api.clover.com/v3/merchants/CQWH7CZZVQ072/properties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 49ec922b-9d00-aef1-270c-b94ec130f795
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"href": "https://www.clover.com/v3/merchants/CQWH7CZZVQ072/properties",
        "merchantRef": {"id": "CQWH7CZZVQ072"}, "defaultCurrency": "USD", "tipsEnabled":
        false, "receiptProperties": "\"{\\\"skipReceiptScreen\\\":false}\"", "summaryHour":
        0, "signatureThreshold": 0, "hasDefaultEmployee": false, "tipRateDefault":
        1500, "onPaperTipSignatures": false, "autoLogout": false, "orderTitle": "NONE",
        "orderTitleMax": 99, "resetOnReportingTime": false, "notesOnOrders": false,
        "deleteOrders": true, "removeTaxEnabled": false, "groupLineItems": true, "alternateInventoryNames":
        false, "autoPrint": false, "infoleaseSuppressBilling": false, "infoleaseSuppressPlanBilling":
        false, "marketingEnabled": false, "manualCloseout": false, "showCloseoutOrders":
        false, "sendCloseoutEmail": false, "stayInCategory": false, "locale": "en-US",
        "timezone": "America/New_York", "vat": false, "vatTaxName": "VAT", "appBillingSystem":
        "INFOLEASE", "trackStock": false, "updateStock": false, "allowClockOutWithOpenOrders":
        false, "logInClockInPrompt": true, "pinLength": 4, "cashBackEnabled": false,
        "hasConsented": true}'
  recorded_at: Thu, 27 Jul 2017 07:46:46 GMT
recorded_with: VCR 3.0.3
